*{
    margin: 0;
    padding: 0;
}

.shop{
    background-color: rgb(255, 255, 255);
}

.outerProductDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.eachItemDiv{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 30px;
}

.imageDiv1{
    position: relative;
    left: 16%;
    width: 15vw;
    height: 20vh;
}

.productImg{
    height: 100%;
    width: 100%;
}

.productDetailsDiv{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 10px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: rgb(253, 255, 200);
   padding: 15px;
   width: 20vw;
   max-height: 5vh;
}

.productDetailsDiv p{
    font-size: 15px;
}



.addToCartButton{
    background-color: rgb(255, 231, 170);
    padding: 10px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 20vw;
    margin-left: 20px;
}


@media only screen and (max-width: 700px){
    .outerProductDiv{
        flex-direction: column;
        overflow-x: hidden;
        padding: 30px;
        margin-right: 30px;
    }
    .imageDiv1{
        width: 100%;
    }
    .productDetailsDiv{
        width: 100%;
        padding: 10px;
    }
    .addToCartButton{
        width: 100%;
    }
}